@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Pretendard-Regular';
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeout {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

.fade-in {
  animation: fadein 1s;
}

.fade-out {
  animation: fadeout 1s; 
  opacity: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  width: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.request-textarea, .response-textarea {
  padding: 12px;
  width: 100%;
  height: 80px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  font-size: 16px;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.request-textarea:focus, .response-textarea:focus {
  outline:none;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.title {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.heading {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 12px;
}

.icon {
  width: 28px;
  fill: #4f46e5;
}

.summary {
  background-color: #f4f4f4;
  padding: 16px;
  border-radius: 0.5rem;
}

.semi-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.detail {
  font-weight: 400;
  color: #707070;
  font-size: 14px;
  line-height: 1.4rem; 
}

.string-convertor {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.string-convertor h3 {
  font-size: 16px;
  font-weight: 800;
}

.string-convertor span {
  font-size: 12px;
  font-weight: 400;
  color: #707070;
}

.button-wrap {
  display: flex;
  column-gap: 8px;
}

.button {
  background-color: #4f46e5;
  border: none;
  padding: 8px 12px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 16px;
}

.button:hover {
  background-color: rgb(56, 44, 215);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-wrap {
  position: relative;
  padding: 40px 80px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.modal h3 {
  font-size: 20px;
  font-weight: 900;
}

.modal button {
  position: absolute;
  right: 16px;
  top: 12px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.modal button:hover {
  background-color: #4f46e5
}

@media screen and (max-width: 640px) {
  .wrap {
    width: 100%;
    padding: 0 24px;
  }
}